html, body { 
/* background: #FFFFFF url(../images/bckdot3.gif) repeat left top; */ 
margin: 0px auto; font-size:12px; color:#000;
font-family: Arial, Tahoma, Verdana ; position:relative;  
background: linear-gradient(to top, #FFFFFF 60%, #E1F1FF 100%) no-repeat;
height: 100%; 
margin: 0;
padding: 0; 
display: block;

}
 
a { color:#666666}  
a:hover { color:#000 ;} 
.clear { clear:both;} 

img {border:none ;/* width: 338px; */}
h1 { color:#FFFFFF ; font-family: 'PSL-Display';  color:#FF9900; font-size:23px; font-weight:bold; }
h2 {color:#FFFFFF ;}
h3 {color:#FFFFFF ;}

.textBlue{ color:#0099FF}
.textGray{  color:#666 ; float:left}
.textBrown{  color:#78332C; text-align:right ;width:60px;display:block;  float:left ; margin-right:5px; }

/*-----layout----------------------------------------------------------------------------------------------*/
#preContainer{ width:100%;   display:block; padding-top: 15px;   }
#container { 
    width: 95%;
    min-height: 100%; 
    margin: 0px auto;
    min-width: 980px;
} 
#container2 {   width:100%; position: relative; margin: 0px auto; background: #FFF;  border-right: 1px solid #999; border-left: 1px solid #999;  
height:auto !important ; height:650px; min-height:650px;     background: url(../images/bg_pattern_01.jpg) repeat left top; } 

#header { 
/* background: #ff0; */
padding: 10px;
}
#header .name-app2 { display:block;  left:34%;  top:40px; position:absolute ; font-size:28px  ;color:#999 ;}
#header  { position:relative;   /* background-color:#FFF ; */ height:auto !important; height:65px; min-height:65px; padding-top: 10px;}
#header .logo { display:block;  /* left:20px; */  /* top: 20px; */ /* position:absolute ; */ float: left; width: 270px; height: 50px;}
#header .name-app { display:block; font-size: 40px; color: #7389F9; 
  /* margin:0px auto; */ width: 45%; /* top:-20px; */ /* position:relative; */
 font-family: RSULight; text-shadow: 1px 3px 2px #FFFFFF; float: left; line-height: 30px; text-align: center; margin-top: 10px;}
#header  .status { display:block;  /* right:30px; */  /* top: 20px; */  position:relative ;   width: 250px; /* bottom:20px; */ float: right; height: 50px; /* background-color: #993737; */}
#header  .status  div  {  /* clear:both ; */   margin-bottom:0px;}
#header  .status   .textGray{  color:#666 ; float:left ; width:160px;}
#header  .status   .textBrown{  color:#666666 ;  text-align: right;width:70px;display:block;  float:left ; margin-right:5px;  font-weight: bold ;}   
#header  .status  .areaBtnUser{ position: absolute;left: 0px; bottom: -30px; /* width: 100px; */}
#header .status  .areaBtnUser  a{ color: #FFFFFF;  display:block; text-decoration:none;  }
#header  .status  .areaBtnUser a:hover { color: #E4E7FF; }
  
#wrapper {  height:auto !important; height: 400px; min-height: 400px; padding:0px 5px  0px  5px  ;  }
#wrapper2 { height:200px; padding:0px; }
#content  { height:auto !important; height:350px; min-height:350px;    }
#content2  { height:100px;}
/*#sideLeft { float:left; margin:0px 10px; width:768px; margin-bottom:30px;}*/
/*#sideRight { float:left; width: 193px; } */
#footer{
height: 30px;   position:absolute; left:0px;  bottom:0px;   color: #8182BE; 
width: 100%;padding-top: 10px; 
font-size: 11px;margin: 0px auto;bottom: 0px;  
height: 60px; 
position:relative;
bottom: 0px; 
height: 60px; 
display: block;
/* margin: 0px auto; */
} 
#footer   .copy{
margin: 0px auto ; border-top: 1px solid #E4EAEF; 
text-align: center;
width: 400px;  
padding-top: 10px;
} 

/*-----menu -----*/
#manuMain{   left:2px; bottom:0px; width:100%; background: url(../images/menuMain_bg_a.jpg) repeat-x left top; height:40px; }
#manuMain  ul{   }
#manuMain   li{float:left ; font-weight:bold   } 
#manuMain   li a{float:left ; padding:10px 20px 5px 20px   ;   text-decoration:none ;display:block ;  height:25px;   color:#666666}
#manuMain   li a:hover {float:left ; background: url(../images/menuMain_bg_h.jpg) repeat-x left top;color:#000000  }
#manuMain   li a.select  {float:left ; background: url(../images/menuMain_bg_h.jpg) repeat-x left top; color:#000000  }



/*-------- Button All   //// default  btn show  size  medium ////  ---------------------------------------------*/ 
.awesome, .awesome:visited { 
text-align:center;margin:0px;border-width:0;
 border-radius: 5px; padding: 0px 5px;

color: #fff;
background-color: #4F49A9;
}
.awesome:hover {
color: #6F7F84;
background-color: #3E97C5;
}

/*-------- set  Button  size  ///// use by add name   large  or  medium   to class   ////  --------*/  
.awesome, .awesome:visited, .medium.awesome, .medium.awesome:visited { font-family: RSULight; font-size: 16px;   }
.small.awesome, .small.awesome:visited { font-size: 14px; padding: 0px; } 
.large.awesome, .large.awesome:visited { font-size: 18px; padding: 6px 14px 9px; border: 2px solid #F00; } 

/*-------- set  Button  color   --------*/ 
.blue.awesome, .blue.awesome:visited { background-color: #3E97C5; }
.blue.awesome:hover { background-color: #007d9a; }
.red.awesome, .red.awesome:visited { background-color: #FF0000; }
.red.awesome:hover { background-color: #FF3333; }
.magenta.awesome, .magenta.awesome:visited { background-color: #a9014b; }
.magenta.awesome:hover { background-color: #630030; }
.orange.awesome, .orange.awesome:visited { background-color: #ff5c00; }
.orange.awesome:hover { background-color: #d45500; }
.yellow.awesome, .yellow.awesome:visited { background-color: #ffb515; }
.yellow.awesome:hover { background-color: #fc9200; }
 .graydark.awesome, .graydark.awesome:visited { background-color: #333;  border: 2px solid #F00; }
.graydark.awesome:hover { background-color: #000; }
 .gray.awesome, .gray.awesome:visited { background-color: #333;  border: 1px solid #CCC; }
.gray.awesome:hover { background-color: #666; }









