

/*----Page Home -----------------------------------------------------------------------------------------*/
#page-home{ padding-top:50px;  }
#page-home   .login-area { width:350px; margin: 0px auto ;  /* border: 1px solid #CCC; */ padding: 35px 50px; background-color: #FFFFFF; border-radius:20px; 
 box-shadow: 2px 0px 8px #ABA8A8;
 /* opacity: .7; */ background: #fff url(../images/Installment/bg-login.png) no-repeat right -40px; overflow: hidden;}
#page-home  .login-area  div{ margin-bottom: 5px;   }
#page-home  .login-area  #divhead { font-family: RSULight;  font-size: 22px;  margin-bottom: 15px; text-align: center; color: #6A73CA; text-shadow: 2px 1px 1px #fff;}
#page-home  .login-area label { text-align:right; margin-right:10px; width: 137px ;
display:block;   float:left;color: #333333;
}


#page-home  .login-area  #divBtn{ margin-bottom: 40px; padding-left: 50px; /* clear: both; */}
#page-home  .login-area   .input{ width: 200px ; float:left ;  }
#page-home  .login-area   .select{ width: 200px ; float:left ;  }

#page-home  .login-area   .submit  { width: auto; float:left; padding: 0px 5px; color:#FFFFFF; font-weight:bold ;border: none ;  
height: 27px; width: 70px; background: url(../images/logout_bt.png) no-repeat left top; margin-left:100px   } 
#page-home  .login-area   .submitlogin  {width: auto; float:left; padding: 0px 5px; padding-top: 2px;color:#FFFFFF; /* font-weight:bold ; */border: none ;  
/* height: 27px; */ /* width: 75px; */ /* background: url(../images/logout_bt.png) no-repeat left top; */ margin-left:100px   ;background-color: #4F49A9;
 font-family: RSULight;  font-size: 16px; 
 border-radius: 5px;margin-bottom: 20px;} 

#page-home .warning {   margin: 0px auto ;   /* padding:20px  50px; */   font-size:10px ;    color: #508FD7;}
#page-home .warning  .warningLeft {width: 50px;float: left; height: 50px;display: block;}
#page-home .warning  .warningRight { float: left; display: block; width: 300px;}