﻿@charset "utf-8";
/* CSS Document */

/*-----Clear ------------------------------------------------------------------------------*/
html, body, div, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, fieldset, input, img { margin: 0px; padding: 0px;  }
h1, h2, h3, h4, h5, h6, pre, code, address, caption, cite, code, th { font-size: 12px; font-weight: normal; font-style: normal;   }
ul, ol { list-style: none; }
fieldset, img { border: none; }

/*-----Gernaral-------------------------------------------------------------------------------*/
/*table { border-collapse: collapse; border-spacing: 0; }   */
/* @font-face { 
font-family: 'PSL-Display'; 
src: url('db_adman_x-webfont.eot?#iefix') format('embedded-opentype'), 
url('db_adman_x-webfont.ttf') format('truetype');  
font-weight: normal; 
font-style: normal; 
}
*/
body { background: #FFFFFF url(../images/bckdot3.gif) repeat left top; margin: 0px auto; font-size:12px; color:#000;
font-family: Arial, Tahoma, Verdana ; position:relative;  }  
a { color:#666666}  
a:hover { color:#000 ;} 
.clear { clear:both;} 

img {border:none ;}
h1 { color:#FFFFFF ; font-family: 'PSL-Display';  color:#FF9900; font-size:23px; font-weight:bold; }
h2 {color:#FFFFFF ;}
h3 {color:#FFFFFF ;}

.textBlue{ color:#0099FF}
.textGray{  color:#666 ; float:left}
.textBrown{  color:#78332C;text-align:right ;width:60px;display:block;  float:left ; margin-right:5px; }

/*-----layout----------------------------------------------------------------------------------------------*/
#preContainer{ width:100%;   display:block; padding-top: 15px;}
#container {   width:800px; position: relative; margin: 0px auto; background: #FFF;  border-right: 1px solid #999; border-left: 1px solid #999;  
height:auto !important ; height:650px; min-height:650px;     background: url(../images/bg_pattern_01.jpg) repeat left top; } 
#header  { position:relative;   background-color:#FFF ; height:auto !important; height:20px; min-height:20px; padding-top:90px;}
#header .logo { display:block;  left:20px;  top:0px; position:absolute ;}
#header .name-app { display:block;  left:250px;  top:48px; position:absolute ; font-size:28px  ;color:#999 ;}
#header  .status { display:block;  right:20px;  top: 40px; position:absolute ;  width:200px;  }
#header  .status  div  {  clear:both ; margin-bottom:20px;}
#header  .status   .textGray{  color:#666 ; float:left; width:130px;}
#header  .status   .textBrown{  color:#666666 ;text-align:left ;width:50px;display:block;  float:left ; margin-right:5px;  font-weight: bold ;}  
#header  .status   .textBrown2{  color:#666666 ;text-align:left ;width:10px;display:block;  float:left ; margin-right:5px;  font-weight: bold ; }
#header  .logout{ display:block; right:5px; bottom:4px; position:absolute; z-index:999; height: 27px; width: 70px; background: url(../images/logout_bt.png) no-repeat left top;  padding :  4px 0px  0px  13px   ; }
#header  .logout a{ color:#FFFFFF;  display:block; text-decoration:none;  font-weight:bold }
 
 
#wrapper { height:auto !important; height:350px; min-height:350px; padding:0px 20px  0px  20px  ; }
#content  { height:auto !important; height:350px; min-height:350px;    }
/*#sideLeft { float:left; margin:0px 10px; width:768px; margin-bottom:30px;}*/
/*#sideRight { float:left; width: 193px; } */
#footer{height:30px; background-color:#000 ; padding-top:20px; position:absolute; left:0px;  bottom:0px;width:100%   ; color:#F3BD01 ; font-size:10px} 
#footer   .copy{margin: 0px auto ; width:300px; text-align:center } 

/*-----menu-----*/
#manuMain{   left:2px; bottom:0px; width:100%; background: url(../images/menuMain_bg_a.jpg) repeat-x left top; height:40px; }
#manuMain  ul{   }
#manuMain   li{float:left ; font-weight:bold   } 
#manuMain   li a{float:left ; padding:10px 20px 5px 20px   ;   text-decoration:none ;display:block ;  height:25px;   color:#666666}
#manuMain   li a:hover {float:left ; background: url(../images/menuMain_bg_h.jpg) repeat-x left top;color:#000000  }
#manuMain   li a.select  {float:left ; background: url(../images/menuMain_bg_h.jpg) repeat-x left top; color:#000000  }

/*----Page Home -----------------------------------------------------------------------------------------*/
#page-home{ padding-top:50px;   }
#page-home   .login-area { width:300px; margin: 0px auto ;  border: 1px solid #CCC; padding:50px; background-color:#F5F5F5  ; border-radius:20px;  }
#page-home  .login-area  div{ margin-bottom:10px;  clear:both; height:15px;}
#page-home  .login-area label { text-align:right; margin-right:10px; width: 70px ;display:block;   float:left ;  color:#333333 }
#page-home  .login-area   .input{ width: 200px ; float:left ;  }
#page-home  .login-area   .select{ width: 200px ; float:left ;  }

#page-home  .login-area   .submit  { width: auto; float:left; padding: 0px 5px; color:#FFFFFF; font-weight:bold ;border: none ;  
height: 27px; width: 70px; background: url(../images/logout_bt.png) no-repeat left top;   } 
.warning {   margin: 0px auto ; width:300px; padding:20px  50px;   font-size:10px ; color:#999999 }

/*----Page Inside  ----------------------------------------------------------------------------------------*/ 
#page-inside {  background: url(../images/bg_pattern_01.jpg) repeat left top; } 
#page-inside    div {margin-bottom:15px;  clear:both; }
#page-inside    div span{ float:left ;}

 
#page-inside     label { text-align:right; margin-right:10px; width: 120px ;display:block;   float:left ;  color:#333333 }
#page-inside    .select{ width: 250px ; float:left ;margin-left:5px;  }
#page-inside     .input{ width: 200px ; float:left ;  }  
#page-inside     .dateFrom{ width:85px ;  margin-right:5px;}  
#page-inside     .dateDis{ width:85px ;  float:left ;margin-right:3px;   margin-left:5px;  background-color:#FFFFFF;  }  
#page-inside     .date{ width:85px ;  margin-right:3px; margin-left:3px;}  
 
#page-inside     .tricker { float:left; background: url(../images/ticker.gif) no-repeat left top; height: 15px; width: 16px; }

#page-inside    .submit    { width: auto; float:left; padding: 0px 5px; color:#FFFFFF; font-weight:bold ;border: none ;  
height: 28px; width: 70px; background: url(../images/logout_bt.png) no-repeat left top;  }

#page-inside    .submit2    { width: auto; float:left; padding: 0px 5px; color:#FFFFFF; font-weight:bold ;border: none ;  
height: 28px; width: 70px; background: url(../images/logout_bt.png) no-repeat left top;  }

.heading1
{
     display:block;  
     font-size:25px  ;
     color:#000000 ;
     clear:both ;
     margin-left:0px;  
     margin-top: 0px; 
     position:relative;      
}
.heading2
{
     display:block;  
     font-size:18px  ;
     color:#000000 ;
     margin-left:0px;  
     margin-top: 30px; 
     position:relative;         
}

/*  for datagrid */
.gridhead
{
    BACKGROUND-COLOR: #60A0C9;
    HEIGHT: 25px;
    font-weight : bold;
    text-align:center ;
}
.gridrow0
{
    HEIGHT: 20px;
    BACKGROUND-COLOR: #ADD2EA;
    vertical-align :text-top;
}
.gridrow1
{
    HEIGHT: 20px;
    BACKGROUND-COLOR: #ffffff;
    vertical-align :text-top;
}
.gridrow2
{
    HEIGHT: 20px;
    BACKGROUND-COLOR: #88E9F7;
    vertical-align :text-top;
}
.gridrowSelect
{
    HEIGHT: 20px;
    BACKGROUND-COLOR: #88E9F7;
    vertical-align :text-top;
}