@charset "utf-8";
/* CSS Document */

/*-----Clear ------------------------------------------------------------------------------*/
html, body, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, fieldset, input, img { margin: 0px; padding: 0px;  }
h1, h2, h3, h4, h5, h6, pre, code, address, caption, cite, code, th { font-size: 12px; font-weight: normal; font-style: normal;   }
ul, ol { list-style: none; }
/*fieldset,  div,  img { border: none; }*/

/*-----Gernaral-------------------------------------------------------------------------------*/
/*table { border-collapse: collapse; border-spacing: 0; }   */