﻿@charset "utf-8";
 
/*----Page Inside  ----------------------------------------------------------------------------------------*/ 
#page-inside { padding-top:10px;  background: url(../images/bg_pattern_01.jpg) repeat left top; } 
#page-inside    div {margin-bottom:5px;  clear:both; min-height:15px;}
 

#page-inside    .select{ width: 250px ; float:left ;margin-left:5px;  }
#page-inside     .input{ width: 200px ; float:left ;  }  
#page-inside     .dateFrom{ width:85px ;  margin-right:5px;}  
#page-inside     .dateDis{ width:85px ;  float:left ;margin-right:3px;   background-color:#DCDCDC;  }  
#page-inside     .date{ width:85px ;  margin-right:3px; margin-left:3px;}   
#page-inside     .tricker { float:left; background: url(../images/ticker.gif) no-repeat left top; height: 15px; width: 16px; }
#page-inside .labelRequireField { margin: 0px auto; color:red }
#page-inside .labelRequireField2 { margin: 0px auto; color:red ; font-size:15px; font-weight:bold;}
#page-inside     .TEXTBOX{ width: 100px ;  }  
#page-inside     .TEXTBOXMONEY{ width: 100px ;text-align: right;  }  
#page-inside     .TEXTBOXDIS{ width: 100px ;background-color: #D5D8D4; }  
#page-inside     .TEXTBOXMONEYDIS{width: 100px ; text-align: right; background-color: #D5D8D4;}  
#page-inside .require-area {margin-right: 0px ; margin-top:0px;  border: 1px solid #CCC; padding: 5px 10px 20px 10px ; background-color:#F5F5F5  ; border-radius:20px;  }

#divTemplate1     span { text-align:right; margin-right:0px; }
.heading1 {font-size:25px; color:#000000;  margin-left:0px; margin-top: 0px; color:#8A3A30; }

#wrapper2 { height:200px; padding:0px; }
#content2  { height:100px;}
 


/*---- For Datagrid    ------------------------------------------------------------------------------------*/ 
.gridhead { background-color: #ff9933  ; height: 25px; font-weight : bold; text-align:center; color:#FFFFFF ;  }
.gridhead  a{ color: #ffffff }
.gridhead  a:hover{ color: #000000}
.gridrow0 { height: 25px; background-color: #ffcc66;   border-collapse: collapse; border-spacing: 0;  }
.gridrow2 {padding-left:30px; height: 20px; background-color: #ffffff;   border-collapse: collapse; border-spacing: 0;  }
.gridrow1 { height: 25px; background-color: #fff0e1;   border-collapse: collapse; border-spacing: 0;  }
.gridrowSelect { height: 25px; background-color: #f7f78f;  border-collapse: collapse; border-spacing: 0; }
.gridrow3 { background-color: #60A0C9  ; height: 25px; font-weight : bold; text-align:left; color:#FFFFFF ;  }
 #page-inside   td { height: 25px;  }  
 
/* table  tr ,   table  td { border-collapse: collapse; border-spacing: 0; }  */ 

/*------ nav-backend ------------------------------------------------------*/  
#nav-backend { clear: both; width: 870px; font-family: 'RSULight'; font-size: 18px;  margin-bottom:20px; }
#nav-backend ul {      }
#nav-backend ul li {   position:relative ; float:left; }
#nav-backend ul li a { float: left; text-decoration: none;  height : 28px;  border-right: 1px solid #fff; background : url('../images/nav-top.jpg') -10px top; color: #000000;  height: 30px;  padding:8px 12px 0px 12px  ;  }
#nav-backend ul li a:hover, .navMain ul li .active { background : url('../images/nav-top.jpg') no-repeat  -10px -38px; }
 
#nav-backend ul li  a.first {padding-left:17px; background : url('../images/nav-top.jpg') repeat-x left top;}
#nav-backend ul li  a.first:hover {  background : url('../images/nav-top.jpg') repeat-x left -38px;}
#nav-backend ul li  a.last {padding-right:17px;background : url('../images/nav-top.jpg') repeat-x right top;}
#nav-backend ul li  a.last:hover { background : url('../images/nav-top.jpg') repeat-x right -38px; }
#nav-backend ul li a.last{border-right:none; }

 
#nav-backend ul.subNav{position:absolute; left:0px; top:35px; z-index:111; border:1px solid #ccc ; 
background-color:#fff ;   padding:10px;  padding-right: 10px; font-family: 'Tahoma' ; font-size:13px; white-space:nowrap;  } 
#nav-backend  ul.subNav li { clear:both;display :block; float:left; text-decoration:none;}
#nav-backend  ul.subNav li a{float:left; text-decoration:none;  background: url('../images/bullet1.png') no-repeat left 3px;  margin: 0px ; padding:0px; font-size:13px;  text-indent:15px; height:20px;  color:#666;  /* border:1px solid #ccc ; */  } 
#nav-backend  ul.subNav li a:hover{ color:blue; background: url('../images/bullet1.png') no-repeat left -17px; }

/* ###### Control Each Width ####### */ 
#nav-backend  ul.subNav-01  {width:160px;}
#nav-backend  ul.subNav-02  {width:160px; }



.bgPopupLayer
{
    background : #D2D4D5;
    border-width : 1px;
}